<div>
  <table border="2">
    <tr>
    <td class="check"><input type="checkbox"></td>
      <td class="text"><p>First Item</p></td>
    <td class="check2"><img src="assets/rubbish.png"></td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox"></td>
      <td class="text"><p>Second Item</p></td>
      <td class="check2"><img src="assets/rubbish.png"></td>
    </tr>
    <tr>
      <td class="check"><input type="checkbox"></td>
      <td class="text"><p>Third Item</p></td>
      <td class="check2"><img src="assets/rubbish.png"></td>
    </tr>
  </table>
</div>
