p{
  margin-left: 20%;
  margin-top: 4%;
  font-size: 32px;
}
input{
  margin-left: 25%;
  margin-top: 5px;
  font-size: 20px;
  width: 35%;
  border-radius: 5px;
}
button{
  background-color: blue;
  border: none;
  color: white;
  padding: 6px 13px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

